.hero {
  @include flex-center(row); 
  height: 700px;
  margin-top: 80px;
  padding: 200px 0;
  background-color: color(shadow-dark);
  background-image: linear-gradient(shadow(background)), url("../images/background.jpg");
  background-position: center;
  background-size: cover;
}

.hero__flip {
  @include transition(transform);
  transition-delay: 1000ms;
  transition-duration: 500ms;
}

.hero-title {
  width: 690px;
  @include font(font(main), 900, 44px, 0.06em, color(light), uppercase);
  line-height: 1.36;
  text-align: center;
}

.hero__flex {
  @include flex-center(column);
}

.team {
  background-color: color(shadow-light);
}
