.hero {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin-top: 80px;
   padding-top: 200px;
   padding-bottom: 200px;
   background-color: var(--shadow_dark_color);
   background-image:
   linear-gradient(var(--shadow-background)),
   url("../images/background.jpg");
   background-position: center;
   background-size: cover;

}
.hero-flip{
   transition-property: transform;
   transition-delay: 1000ms;
   transition-duration: 500ms;
}

.hero-title {
   width: 690px;
   font-family: var(--font-family);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   letter-spacing: 0.06em;
   text-transform: uppercase;
   text-align:center;
   color: var(--light_color);
}
.hero__flex{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.team {
   background-attachment: var(--shadw_light_color);
}