.features {
  padding-top: 94px;
  padding-bottom: 0;

  &__title {
    @include font(font(main), 700, 14px, 0.03em, color(dark), uppercase);
  }

  &__list {
    display: flex;
    justify-content: center;
    @include font(font(main), 400, 14px, 0.03em, color(second-light));
    line-height: 1.71;
    gap: 30px;
  }

  &__item {
    &::before {
      display: flex;
      width: 270px;
      height: 120px;
      content: '';
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: color(shadow-light);
      border-radius: 4px;
      outline: 1px solid #003366;
    }

    &:nth-child(1)::before { background-image: url(../svg/antenna1.svg); }
    &:nth-child(2)::before { background-image: url(../svg/clock1.svg); }
    &:nth-child(3)::before { background-image: url(../svg/diagram1.svg); }
    &:nth-child(4)::before { background-image: url(../svg/astronaut1.svg); }
  }
}
