.what-we-do {
    display: none;
    @include section;

    @media screen and (min-width: 1200px) {
        display: block;
    }

    &__title {
        @include section-title;
    }

    .what-we-do-list {
        @include flex;

        &__item {
            position: relative;

            &:not(:last-child) {
                margin-right: 30px;
            }
        }

        &__overlay {
            @include section-title-h3;
            @include white;
            @include no-margin;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 370px;
            height: 70px;
            background-color: get-var('shadow__color-8');
        }
    }
}