.team {
    @include section;
    background-color: get-var('light__color');

    &__section-title {
        @include section-title;
    }

    .team-list {
        @include flex-column;
        gap: 30px;

        @media screen and (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }

        &__item {
            flex-basis: 100%;
            border-radius: 0 0 4px 4px;
            min-width: 270px;
            background-color: get-var('light__color-2');
            box-shadow:
                0 2px 1px 0 get-var('shadow__color-2'),
                0 1px 1px 0 get-var('shadow__color-3'),
                0 1px 3px 0 get-var('shadow__color-4');

            @media screen and (min-width: 768px) {
                flex-basis: calc((100% - 30px) / 2);
            }

            @media screen and (min-width: 1200px) {
                flex-basis: calc((100% - 120px) / 4);
            }
        }

        &__img {
            display: block;
            width: 100%;
            margin-bottom: 30px;
        }

        &__title {
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            margin-bottom: 10px;
        }

        &__description {
            margin-bottom: 16px;
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            color: get-var('dark__color-3');
        }

        &__social-list {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 30px;
        }

        &__social-link {
            width: 44px;
            height: 44px;
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: var(--fifth_dark_color);
            @include multi-transition((background-color, fill));

            &:hover {
                background-color: get-var('main__color');
                fill: get-var('light__color-2');
            }
        }
    }
}