.team {
  width: 100%;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: color(shadow-light);

  &__item {
    width: 270px;
    height: 428px;
    background-color: color(light);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 4px 0 shadow(base);
  }

  &__position {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    @include font(font(main), 500, 16px, 0.03em, color(dark));
    text-align: left;
    @extend %title-medium; 
  }

  &__title {
    padding-bottom: 50px;
    @include font(font(main), 700, 36px, 0.03em, color(dark));
    text-align: center;
    @extend %title-large;
  }

  &__name {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 10px;
    @include font(font(main), 400, 16px, 0.03em, color(second-light));
    text-align: left;
    @extend %text-muted;
  }

  &__social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__social-link {
    width: 44px;
    height: 44px;
    border-radius: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    @include transition(background-color, fill);

    &:hover {
      background-color: color(main);
      fill: color(light);
    }
  }
}

/* окремий селектор, як у тебе */
.flip:not(:last-child) {
  margin-right: 30px;
}
