.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: color(shadow-dark);
  z-index: 1;

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__address-description {
    margin-bottom: 10px;
    font-family: font(main);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: color(light);
    @extend %text-muted;
  }

  &__address-item {
    margin-bottom: 10px;
  }

  &__link {
    color: color(second-light);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    @extend %text-muted;

    &:hover {
      color: color(main);
    }
  }

  &__address-list {
    margin-right: 70px;
  }

  &__box {
    display: flex;
    align-items: baseline;
  }

  &__join {
    margin-right: 93px;
  }

  &__join-title {
    font-family: font(main);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: color(light);
    margin-bottom: 20px;
    @extend %title-medium;
  }

  &__join-list {
    display: flex;
    gap: 10px;
  }

  &__join-link {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: color(light);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: color(main);
    }
  }

  &__form-title {
    padding-bottom: 20px;
    font-family: font(main);
    text-transform: uppercase;
    color: color(light);
    @extend %title-large;
  }

  &__form {
    display: flex;
    gap: 12px;
  }

  &__input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: color(light);
  }
}
