.portfolio {
  margin-bottom: 94px;

  &__button-list {
    margin-top: 94px;
    margin-bottom: 34px;
  }

  &__description {
    @include font(font(main), 400, 16px, 0.03em, color(second-light));
    line-height: 1.87;
  }

  &__title {
    @include font(font(main), 700, 18px, 0.06em, color(dark));
    line-height: 2.0;
  }

  &__item {
    border: 1px solid #eee;
    flex-basis: calc((100% - 60px) / 3);

    &:hover .portfolio__overlay-text,
    &:focus .portfolio__overlay-text {
      transform: translate(0);
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    border-radius: 4px;

    &:hover {
      box-shadow: 0 4px 4px 0 shadow(base);
    }
  }

  &__box {
    flex-grow: 1;
    padding: 24px;
  }

  &__overlay-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }

  &__overlay-text {
    @include font(font(main), 400, 18px, 0.03em, color(light));
    line-height: 156%;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 63px 24px;
    transform: translateY(100%);
    @include transition(transform);
    background-color: rgba(33, 150, 243, 0.9);
  }
}

.portfolio-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-flex {
  @include flex-center(row);
}
