/*! Reset styles */
*,
*::before,
*::after {
    box-sizing: inherit;
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
address{
    text-decoration: none;
    font-style: normal;
}
.button{
border: none;
}
.border ,
.border:focus ,
.border:hover{
    border: none;
    outline: none;
}
input[type="checkbox"]:checked {
  accent-color: #2196F3;
}
textarea{
    outline: none;
}
.modal-input, textarea {
  background-color: white !important; /* ваш фон */
  box-shadow: none !important;
}
.footer-input {
  outline: none;

}
.footer-input:focus {
background: rgba(33, 150, 243, 0);
}


input::selection {
  background: transparent;
}

input:focus {
  background-color: white;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #000 !important;
}
.hero__modal-input:has(input:valid:focus) {
  border-color: green;
}

.hero__modal-input:has(input:invalid:focus) {
  border-color: red;
}
.border{
  width: 100%;
}