
// Кольори
$colors: (
  main: #2196F3,
  dark: #212121,
  light: #FFFFFF,
  second-light: #757575,
  second-dark: #000000,
  first-light: #ECECEC,
  shadow-dark: #2F303A,
  shadow-light: #F5F4FA
);

// Шрифти
$fonts: (
  main: "Roboto",
  second: "Raleway"
);

// Тіні
$shadows: (
  base: rgba(0, 0, 0, 0.25),
  background: rgba(47, 48, 58, 0.4)
);

// Функція для кольорів
@function color($name) {
  @return map-get($colors, $name);
}

// Функція для шрифтів
@function font($name) {
  @return map-get($fonts, $name);
}

// Функція для тіней
@function shadow($name) {
  @return map-get($shadows, $name);
}