@use "sass:string";

:root {
  --main_color: #2196f3;
  --main_color_hover: #188ce8;

  --dark_color: #2f303a;
  --second_dark_color: #000000;
  --third_dark_color: #757575;
  --fourth_dark_color: rgba(47, 48, 58, 0.4);
  --fifth_dark_color: #afb1b8;

  --light_color: #f5f4fa;
  --second_light_color: #ffffff;
  --third_light_color: rgba(255, 255, 255, 0.6);
  --fourth_light_color: rgba(33, 150, 243, 0.9);

  --shadow_color: rgba(0, 0, 0, 0.15);
  --second_shadow_color: rgba(0, 0, 0, 0.2);
  --third_shadow_color: rgba(0, 0, 0, 0.14);
  --fourth_shadow_color: rgba(0, 0, 0, 0.12);
  --fifth_shadow_color: rgba(0, 0, 0, 0.16);
  --sixth_shadow_color: rgba(0, 0, 0, 0.06);
  --seventh_shadow_color: rgba(255, 255, 255, 0.1);
  --eighth_shadow_color: rgba(47, 48, 58, 0.8);
  --ninth_shadow_color: rgba(0, 0, 0, 0.1);
  --tenth_shadow_color: rgba(33, 33, 33, 0.2);
  --eleventh_shadow_color: rgba(255, 255, 255, 0.3);
  --twelfth_shadow_color: rgba(33, 150, 243, 0);

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

  --portfolio-dark-color: #212121;
  --portfolio-light-color: #f5f4fa;
}

$main: (
  color: #2196f3,
  color-hover: #188ce8,
);

$dark: (
  color: #2f303a,
  color-2: #000000,
  color-3: #757575,
  color-4: rgba(47, 48, 58, 0.4),
  color-5: #afb1b8,
);

$light: (
  color: #f5f4fa,
  color-2: #ffffff,
  color-3: rgba(255, 255, 255, 0.6),
  color-4: rgba(33, 150, 243, 0.9),
);

$shadow: (
  color: rgba(0, 0, 0, 0.15),
  color-2: rgba(0, 0, 0, 0.2),
  color-3: rgba(0, 0, 0, 0.14),
  color-4: rgba(0, 0, 0, 0.12),
  color-5: rgba(0, 0, 0, 0.16),
  color-6: rgba(0, 0, 0, 0.06),
  color-7: rgba(255, 255, 255, 0.1),
  color-8: rgba(47, 48, 58, 0.8),
  color-9: rgba(0, 0, 0, 0.1),
  color-10: rgba(33, 33, 33, 0.2),
  color-11: rgba(255, 255, 255, 0.3),
  color-12: rgba(33, 150, 243, 0),
);

$font: (
  family: "Roboto",
  family-2: "Raleway",
);

$portfolio: (
  dark-color: #212121,
  light-color: #f5f4fa,
);

$var-maps: (
  "main": $main,
  "dark": $dark,
  "light": $light,
  "shadow": $shadow,
  "font": $font,
  "portfolio": $portfolio,
);

@function get-var($variable-name) {
  $parts: string.split($variable-name, '__');
  $prefix: nth($parts, 1);
  $key: nth($parts, 2);

  @if not map-has-key($var-maps, $prefix) {
    @error "Невідомий префікс '#{$prefix}' для змінної '#{$variable-name}'. Допустимі префікси: #{map-keys($var-maps)}.";
  }

  $target-map: map-get($var-maps, $prefix);

  @if not map-has-key($target-map, $key) {
    @error "Ключ '#{$key}' не знайдено в мапі '#{$prefix}'.";
  }

  @return map-get($target-map, $key);
}